.main-table {
  width: 100%;
  text-align: center;
}
.main-table > thead {
  font-weight: bold;
  background-color: aqua;
}

.main-table td {
  border: 1px solid black;
}

.seart-input {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}
